:root {
    --gris: #cad4d5;
    --naranja: #d8754d;
    --amarillo: #ffd872;
    --ibm: 'IBM Plex Sans', sans-serif;
    --noto: 'Noto Serif', serif;
}

/* Globales */

html {
    
    font-size: 62.5%; /* 1rem = 10px*/
    box-sizing: border-box;
    font-family: var(--ibm);
}

html body h1,
html body h2,
html body h3,
html body h4 {
    text-transform: uppercase;
}

html body a {
    text-decoration: none;
  }

p {
    font-family: var(--noto);
    font-weight: 200;
    font-size: 1.8rem;
}

/* portada */

.portada {
    text-align: center;
    background-color: var(--gris);
    height: 125vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.portada h1 {
    font-size: 7rem;
    font-weight: 400;
    margin: 0;
    color: white;
}

.portada span {
    font-size: 4rem;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--naranja);
}

/* seccion iconos */

.seccion-iconos {
    display: flex;
    flex-direction: column;
    align-items: center;
    position:relative;
    bottom: 10rem;
}

.grupo-iconos {
    display: flex;
    justify-content: center;
    gap: 3rem;
    position: absolute;
    top: -10rem
}

.icono {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    max-height: 20rem;
    max-width: 25rem;
    box-shadow: 10px 0px 50px -11px rgba(0,0,0,0.50);
    padding: 5rem 3rem;
}

.icono img {
    max-width: 6rem;
}

.icono h4 {
    font-weight: 500;
    font-size: 2rem;
    letter-spacing: .5rem;
    color: var(--amarillo);
    margin: 1rem 0;
}

.icono p {
    margin: 0;
    line-height: 2.5rem;
}

.seccion-iconos img {
    width: 70%;
    height: 65rem;
    object-fit: cover;
    object-position: 50% 100%;
}
/* seccion nosotros*/

.nosotros {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: -5rem 0 10rem;
}

.nosotros p {
    font-size: 1.8rem;
    max-width: 50%;
    text-align: center;
    line-height: 3rem;
}

.nosotros p:nth-of-type(2) {
    font-family: var(--ibm);
    font-size: 2rem;
    font-weight: 400;
    line-height: 3.5rem;
}

/* portfolio*/

.portfolio {
    background-color: var(--gris);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.portfolio h2 {
    text-align: center;
    color: #ffffff;
    font-size: 2.5rem;
    font-weight: 400;
    width: 70%;
    border-bottom: .2rem solid var(--naranja);
    padding: 5rem 0 2.5rem 0;
    margin-bottom: 5rem;
}

.imagenes {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columnas con igual tamaño */
    grid-template-rows: repeat(2, 1fr); /* 2 filas con igual tamaño */
    gap: 1.5rem;
    padding: 0 10rem 10rem;
  
}

.imagenes img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.boton {
    background-color: #ffffff;
    color: #000000;
    border: 0.2rem solid var(--naranja);
    padding: 1.8rem 7rem;
    text-transform: uppercase;
    transition: background-color 0.5s ease;
  }
  .boton:hover {
    background-color: var(--amarillo);
    color: var(--naranja);
  }